#menuBG {
    width:400px;
    height:470px;
    margin:10px auto; 
    }

#frmMenu {
    width:400px; 
    height:200px; 
    }
#totalPrice {
    width:200px; 
    height:190px; 
    margin:0 auto; 
    float:right;
    }
.left {
    width:200px; 
    height:200px; 
    float:left;
    }
.right {
    width:200px; 
    height:200px; 
    float:right; 
    }
#showText {
    width:200px;
    height:190px;
    margin:Opx auto; 
    float:left;
    }
#cart {
    top:0;margin:Opx auto; 
    width:400px;
    height:200px;
    }
#btnOrder {
    margin:10px Opx Opx 100px; 
    width:100px;
    height:40px
}
body {
    background: rgb(247, 225, 28)
}

h1 {
    Color: rgb(165, 8, 8);
    font-family: fantasy;
}
h3 {
    Color: rgb(59, 2, 2);
    font-family:Georgia, 'Times New Roman', Times, serif
}
div {
    color:teal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 